/* #region Global Styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

ul, li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a:hover,
a:focus {
    cursor: pointer;
    color: #404BBF;
}

button:hover,
button:focus {
    background-color: #404BBF;
}
h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    color: #434455;
}
.container {
    display: flex;
    max-width: 100%;
    padding-left: 6px;
    padding-right: 156px;
    margin-left: 0;
    margin-right: 0;
}
/* #endregion Global Styles */

/* #region header*/
.header-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1667;
    color: #2E2F42;
    letter-spacing: 0.03em;
    margin-left: 0;
    margin-right: 40px;
}

.contacts-link,
.contacts {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 0;
    margin-right: 40px;
}

.contacts:last-child {
    margin-right: 0;
}

.contacts-link {
    font-weight: 500;
    color: #2E2F42
}

.contacts {
    font-weight:400;
    color: #434455;
}
/* #endregion header */

/* #region Hero Header Section*/

.hero-header {
    background-color: #2E2F42;
}
.hero-button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 48px;
}
.hero-header-container {
    flex-direction: column;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
/* #endregion Hero Header Section */

/* #region Features Section*/

.features-container {
    flex-direction: column;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 119px;
}
.features-title {
    display: block;
    visibility: hidden;
    position: relative;
}
.features-list {
    display: flex;
    gap: 24px;
}
/* #endregion Features Section */

/* #region Team Section */
.team {
    background-color: #F4F4FD;
}

.team-container {
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-title,
.team-text,
.team-subtitle {
    text-align: center;
}

.team li {
    background-color: #fff;
}
/* #endregion Team Section */

/* #region Portfolio Section*/
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 120px;
    gap: 48px
}
.portfolio-title {
    text-align: center;
    margin-bottom: 19px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    margin-bottom: 24px;
}
.portfolio-subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
}
.portfolio-item p {
    margin-bottom: 32px;
}
/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer .logo {
    color: #F4F4FD;
    margin-bottom: 16px;
}

.web {
    color: #4D5AE5;
}

.footer .logo:hover,
.footer .logo:focus {
    color: #404BBF;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-text {
    color: inherit;
}
/* #endregion Footer Section */